section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

a {
  cursor: pointer;
}

.buttons {
  display: inline-block;
  float: right;
}

.no-wrap {
  white-space: nowrap;
}

table.primitives, table.epts {
  width: 500px !important;

  input {
    width: 70px !important;
  }
}

aside {
  flex: 0 80px;
  background: #09293b url(/left.png) no-repeat;
  min-height: 1024px;
}

article {
  flex: 1;
  background: url(/top.png) no-repeat, url(/top_background.png) repeat-x;
  padding: 130px 30px 0 30px;
}

.application-points {
  ul {
    padding: 20px 0 0 0;
    margin: 0;
    clear: both;
    
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;

      &:nth-child(n + 2) {
        padding-top: 0px;
      }

      &:nth-child(even) div {
        background-color: #EEE;
      }

      &:nth-child(odd) div {
        background-color: #FFF;
      }

      button {
        background-color: transparent;
        padding: 0;
        border: 0;
        cursor: pointer;

        &:active, &:focus {
          outline: none;
        }
      }

      & > div {
        &:first-child {
          flex: 0 0 300px;

          @for $i from 0 through 5 {
            &.l#{$i} {
              padding-left: 15px * $i;
            }
          }
        }
        
        &:nth-child(2) {
          flex: 1 0 300px;
          display: flex;

          span {
            flex: 1 0;
            margin-left: 10px;
            padding: 0 4px 0 14px;

            border: solid 1px #CCC;
            border-width: 0 0 0 1px;

            &:nth-child(3) {
              flex: 0 1 100px;
              padding: 0;
              text-align: center;
              white-space: nowrap;

              div {
                display: inline-block;
              }

              i {
                position: absolute;
              }
            }
          }
        }
        
        &.header {
          font-weight: bold;
        }

      }
    }
  }
}