section {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

a {
  cursor: pointer;
}

.buttons {
  display: inline-block;
  float: right;
}

.no-wrap {
  white-space: nowrap;
}

table.primitives, table.epts {
  width: 500px !important;

  input {
    width: 70px !important;
  }
}

aside {
  flex: 0 80px;
  background: #09293b url(/left.png) no-repeat;
  height: 1024px;
}

article {
  flex: 1;
  background: url(/top.png) no-repeat, url(/top_background.png) repeat-x;
  padding: 130px 30px 0 30px;
}

.application-points {
  ul {
    padding-left: 10px;
    margin: 0;
    
    li {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;

      div {
        background-color: #EEE;
        position: absolute;
        left: 500px;
        padding-right: 10px;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}